/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ===================================
	BEGIN AUTHOR STYLING 
   =================================== */

body {
	background-color: rgb(0,0,0);
}

/* =================
	TEXT STYLING 
   ================= */

input[type=text] {
	padding-left: 20px;
	width: 40%;
	height: 30px;
	-webkit-appearance: none;
	text-decoration: none;
	color: white;
	background-color: black;
	border: 1px solid white;
}

::-webkit-input-placeholder {
	color: white;
}
:-moz-placeholder { /* older Firefox*/
 	color: white;
}
::-moz-placeholder { /* Firefox 19+ */ 
	color: white;
} 
:-ms-input-placeholder { 
	color: white;
}

#output h1 {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	color: white;
	text-align: center;
	border-bottom: 1px solid white;
}

/* =================
	FORM STYLING 
   ================= */

.form-group {
	position: fixed;
	width: 40%;
	top: 50px;
	margin-left: 5%;
}

table {
	float: left;
	margin-left: 5%;
    border-collapse: collapse;
    width: 60%;
    margin-top: 100px;
    margin-bottom: 200px;
}

a:link,
a:visited {
	color: white;
	padding: 5px;
}


table, th, td {
    border: 1px solid white;
}

.project-name {
	width: 20%;
}
.description {
	width: 40%;
}

.tags {
	width: 40%;
}

td {
	color: white;
	padding: 10px;
}

/* =================
	IMAGE RESULTS 
   ================= */

#output {
	float: right;
	width: 25%;
	margin-top: 100px;
	margin-right: 4.5%;
	border: 1px solid white;
}

#output img {
	width: 60%;
	margin-left: 20%;
	margin-bottom: 20px;

}